In [1]:
y1 = lambda x: x+10
y1(5)

15

In [2]:
y2 = lambda a,b: a*b
y2(5,6)

30

In [3]:
y3 = lambda a,b,c : a+b+c
y3(5,6,7)

18

In [4]:
def func(n):
    return lambda a:a*n

In [5]:
doubler=func(2)
doubler(5)

10

In [6]:
x=['AfricanAmerican', 'Hispanic', '?', 'Caucasian', 'Asian', 'Other']
a=map(lambda item: item.replace("?","unknown"), x)
list(a)

#equivalent to the syntex below
#a=[item .replace("?","unknown") for item in x]

['AfricanAmerican', 'Hispanic', 'unknown', 'Caucasian', 'Asian', 'Other']

In [7]:
def addition(n):
    return n+n
num=[1,2,3,4,5]
list(map(addition,num))

[2, 4, 6, 8, 10]

In [8]:
w = ['sat', 'bat', 'cat', 'mat'] 
list(map(list,w))

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]